/* Add this CSS to your stylesheet */
.contact-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-icons:is(:first-child) {
  margin-left: 5rem;
}

.contact-icons:is(:last-child) {
  margin-right: 5rem;
}

.contact-icon {
  text-align: center;
}

.rounded-icon {
  border-radius: 50%;
}

.contact-text {
  margin-top: 10px;
}
